@using Nop.Web.Framework;
@using System.Linq;
@using Nop.Web.Framework.UI;
@using System.Web.Mvc.Html


@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <p> Cannot duplicate SKU - Please use unique value to add this product [ Press back to go to previous page ]</p>
}
